{% extends 'admin/admin_base.html' %}
{% load static %}
{% block 'content' %}
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Products</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Products</li>
                        </ol>
                    </nav>
                </div>
            </div>
            
        </div>
    </div>
    
    
        <div class="container-fluid">
           <form action="{% url 'add_product_offer' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Submit</button>
           </form>
        </div>
    
    
    {% endblock %}
        
