{% extends 'admin/admin_base.html' %}
{% load static %}
{% block 'content' %}
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Categories</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Categories</li>
                        </ol>
                    </nav>
                </div>
            </div>
            
        </div>
    </div>
    
    
        <div class="container-fluid">
           <form action="{% url 'admin_edit_category' %}" method="POST">
            {% csrf_token %}
            <label for="category_name">Category Name</label>
            <input type="text" name="category_name" value="{{category.name}}">
            <input type="hidden" name="category_id" value="{{category.id}}">
            <button class="btn btn-primary">Submit</button>
           </form>
        </div>
    
    
    {% endblock %}
        
